:root {
    --pink: #F4C3EF;
    --blue: #83E0F0;
    --yellow: #FDF764;
    --purple: #D89BE2;
    --light-grey:#EBEDFC;
    --medium-grey:#C7C7C7;
    --dark-grey:#979797;
    --btn: #CD3452;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    /* font-family: 'Mali', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive; */
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
     outline: 0;
}

/* icon heart */
.fas , .fa-heart , .heart {
    color: #CD3452;
}

body {
    background: linear-gradient();
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 14px 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header nav h1 {
    font-family: 'Sacramento', cursive;
    color: var(--btn);
    font-size: 45.2174px;
    font-weight: 400;
}

header nav ul {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    font-size: 20px;
    font-family: Mali;
}

header nav ul li {
    padding-bottom: 13px;
}

header nav ul li:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

header nav ul li:nth-child(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

/* main hero */
main .hero {
    display: flex;
}

main .hero .hero-title {
    max-width: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
}

main .hero .hero-title img {
    max-width: 96.74px;
    width: 100%;
    height: 104px;
}

main .hero .hero-title p {
    font-family: Mali;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    max-width: 402px;
    width: 100%;
}

main .hero .hero-title p strong {
    color: var(--btn);
}

main .hero .hero-title a {
    background-color: #25A710;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

main .hero .hero-pic {
    margin-top: 61px;
    background-image: url(./img/hero/bg-hero.jpeg);
    background-size: cover;
    max-width: 530px;
    width: 100%;
    height: 530px;
    border-radius: 50%;
    position: relative;
}

main .hero .hero-pic::before {
    content: " ";
    max-width: 127px;
    width: 100%;
    height: 127px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    bottom: 0;
} 

main .hero .hero-pic::after {
    content: " ";
    max-width:78px;
    width: 100%;
    height: 78px;
    border-radius: 50%;
    background-color: var(--btn);
    position: absolute;
    bottom: -10px;
    left: 70px;
} 

/* menu */
main {
    padding-bottom: 100px;
}

main .menu h2{
    background-color: var(--pink);
    max-width: 461px;
    width: 100%;
    height: 70.48px;
    border-radius: 9.52479px;
    text-align: center;
    font-family: Mali;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
}

main .menu .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .menu .menu-container .menu-pics {
    display: flex;
    flex-wrap: wrap;
    gap: 36.21px;
    max-width: 712px;
    width: 100%;
    margin-top: 17px;
}

main .menu .menu-container .menu-pics .menu-card {
    position: relative;
}

main .menu .menu-container .menu-pics .menu-card span {
    position: relative;
    display: block;
}

main .menu .menu-container .menu-pics .menu-card span::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 8.48271px;
    background: transparent;
    transition: all 1s;
    cursor: pointer;
}

main .menu .menu-container .menu-pics .menu-card span:hover::before {
    background: rgba(216, 155, 226, 0.6);
}

main .menu .menu-container .menu-pics .menu-card span::after {
    opacity: 0;
    cursor: pointer;
}

main .menu .menu-container .menu-pics .menu-card span:hover::after {
    content: "  ";
    position: absolute;
    text-align: center;
    max-width: 129.05px;
    width: 100%;
    border: 1.85677px solid #FFFFFF;
    box-sizing: border-box;
    color: white;
    top: 90px;
    left: 40px;
    font-family: Mali;
    font-style: normal;
    font-weight: 600;
    font-size: 18.5677px;
    line-height: 26px;
    z-index: 1;
    opacity: 1;
}

main .menu .menu-container .menu-pics .menu-card:nth-child(1) span:hover::after {
    content: " Biscoito R$2,50 ";
}

main .menu .menu-container .menu-pics .menu-card:nth-child(2) span:hover::after {
    content: " Bolo simples R$10,50 ";
}

main .menu .menu-container .menu-pics .menu-card:nth-child(3) span:hover::after {
    content: " Picolé recheado R$2,50 ";
    top: 70px;
}

main .menu .menu-container .menu-pics .menu-card:nth-child(4) span:hover::after {
    content: " Rosquinha R$5,50 ";
}

main .menu .menu-container .menu-pics .menu-card:nth-child(5) span:hover::after {
    content: " Trufas Gourmet R$6,50 ";
    top: 70px;
}

main .menu .menu-container .menu-pics .menu-card:nth-child(6) span:hover::after {
    content: " Cone trufado R$7,50 ";
}

main .menu .menu-container .menu-pics .menu-card img {
    max-width: 214.46px;
    width: 100%;
    height: 209.82px;
    filter: drop-shadow(0px 3.39308px 3.39308px rgba(0, 0, 0, 0.25));
    border-radius: 8.48271px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
}

main .menu .menu-container .menu-pics .menu-card a {
    width: 129.97px;
    height: 28.78px;
    background-color: var(--btn);
    display: inline-block;
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 26.25px;
    margin-top: 14px;
    font-family: Montserrat;
    font-weight: 600;
}

main .menu .menu-container .menu-pics .menu-card i {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 26px;
}

main .menu .menu-container .arrow .fa-chevron-left, .fa-chevron-right {
    font-size: 50px;
}

main .menu .menu-container .arrow .fa-chevron-left {
    padding: 0 98px 0 0;
}

main .menu .menu-container .arrow .fa-chevron-right {
    padding: 0 0 0 98px;
}