.about .about-container {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.about .about-container .about-text {
    text-align: center;
    max-width:700px;
    width: 100%;
    margin: 30px 33px 0 74px ;
}

.about .about-container .about-text p { 
    font-family: Montserrat, cursive;
    font-size: 1.5em;
    line-height: 41px;
    padding:0 40px 0 0;
}

.about .about-container .about-text p::selection {
    background-color: var(--btn); 
    color: white;
}

.about .about-container .about-text i {
    font-size: 49px;
    padding: 10px 10px 0 0;
    color: var(--btn);
    cursor: pointer;
    transition: all .4s;
} 

.about .about-container .about-text i:hover {
    filter: drop-shadow(1px 1px 3px var(--btn));
}

.about .about-container .about-pic  {
    max-width:400px;
    width: 100%;
    padding: 20px;
}

.about .about-container .about-pic img {
    max-width: 390px;
    width: 100%;
    height: 390px;
    border-radius: 50%;
    object-fit: cover;
}