
.contact form {
    margin: 70px auto;
    max-width: 740px;
    padding: 0 20px;
}

form .form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact form .form-container label {
    font-family: Montserrat, cursive;
    font-weight: 500;
    font-size: 20px;
}

.contact form .form-container label input {
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;
    max-width: 610px;
    height: 43px;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.6));
    border-radius: 9.6px;
}

.contact form .form-container .form-container-email input {
    max-width: 615px;
}

.contact form .form-container .form-container-tel input {
    max-width: 328.1px;
}

.contact form .form-container .form-container-msg {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
}

.contact form .form-container .form-container-msg textarea {
    max-width: 556px;
    width: 100%;
    height: 178px;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.6));
    border-radius: 9.6px;
    resize: none;
    padding: 10px;
}

.contact form .forms-btns {
    margin: 15px 10px 0 0;
    display: flex;
    justify-content: end;
    gap:15px;
}

.btns-input {
    padding: .5em 1.2em;
    font-family: Mali;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 4.7px;
    border: 1.8px solid var(--btn);
    cursor: pointer;
    transition: all .4s;
}

.btns-input:hover {
    filter: drop-shadow(1px 1px 3px var(--btn));
}

.reset {
    background: #FDFDFD;
    color: var(--btn);
}

.submit {
    background: var(--btn);
    color: white;
}
