
main .gallery {
   margin-top: 150px;
   padding-bottom: 70px;
 }
 
.title-yellow {
   background-color: var(--yellow);
 }
 
 main .gallery .pics {
   height: 414px;
   display: grid;
   grid-template-columns: repeat(autofill, minmax(200px, 1fr));
   grid-template-rows: 250px 200px;
   grid-gap: 10px;
   grid-template-areas: "img1 img2 img2 img5"
   "img1 img3 img4 img6";
 }
 
 main .gallery .pics img {
   filter: drop-shadow(6.90852px 6.90852px 5.52681px rgba(0, 0, 0, 0.25));
   width: 100%;
   height: 100%;
 }

 .img1 {
   grid-area: img1;
}

.img2 {
   grid-area: img2;
}

.img3 {
   grid-area: img3;
}

.img4 {
   grid-area: img4;
}

.img5 {
   grid-area: img5;
} 

.img6 {
   grid-area: img6;
}

main .gallery .pics-container {
   align-items: flex-end;
   max-width: 838.562px;
   margin: 70px auto;
   display: flex;
   flex-direction: column;
}

main .gallery .pics-container .btn-gallery {
   margin-top: 60px;
   font-size: 1.2em;
   padding: .5em;
}

main .gallery .pics-container .btn-gallery:hover {
   filter: drop-shadow(1px 1px 3px var(--btn));
}