
main .gallery {
    position: relative;
    padding-bottom: 70px;
 }
 
.title-yellow {
     background-color: var(--yellow);
 }
 
 main .gallery .pics {
   max-width: 849px;
   width: 100%;
   height: 414px;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 10px;
   justify-content: center;
   margin: 70px auto;
 }
 
 main .gallery .pics img {
     filter: drop-shadow(6.90852px 6.90852px 5.52681px rgba(0, 0, 0, 0.25));
     object-fit: cover;
 }

 .img1 {
   max-width: 211px;
   width: 100%;
   height: 415px;
}

.img2 {
   max-width: 422px;
   width: 100%;
   height: 203px;
   padding-bottom: 8px;
}

.img3 {
   max-width: 228px;
   width: 100%;
   height: 208px;
   padding-right: 8px;
}

.img4 {
   max-width: 181px;
   width: 100%;
   height: 208px;
}

.img5 {
   max-width: 193px;
   width: 100%;
   height: 237px;
   padding-bottom: 8px;
} 

.img6 {
   max-width: 193px;
   width: 100%;
   height: 173px;
}
