@media (max-width: 930px) {

    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        text-align: center;
    }

    main .hero .hero-title {
        max-width: 100%;
    }

    main .hero .hero-title p {
        font-size: 30px;
    }

    main .hero .hero-pic::before {
        left: 0;
    } 

    main .menu .menu-container .menu-default {
        gap: 30px;
        margin: 30px 0 0;
    }

    main .menu .menu-container  .menu-default  .menu-card {
        margin-top: 100px;
    }

    main .menu .menu-container  .menu-default  .menu-card:nth-child(3), .menu-card:nth-child(4) {
        display: none;
    }

    main .gallery .pics-container {
        align-items: center;
        padding: 0 20px;
    }

    main .gallery .pics {
        grid-template-areas:
        " img2 img2 img5"
        " img3 img4 img6";
        grid-template-columns: 200px 200px 200px;
    }

    main .gallery .pics .img1 {
        display: none;
    }

    .contact form .form-container label {
        display: flex;
        flex-direction: column;
    }

    .contact form .form-container label input {
        margin-left: 0;
        margin-top:15px;
    }

    .about .about-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact form .forms-btns {
        justify-content: flex-start;
    }   
}

@media (max-width:701px){

    header nav ul {
        display: none;
    }

    /* menu start */
    header {
        z-index: 1;
    }

    header nav label {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    header nav ul li:nth-child(2) { 
        border-left: none;
        padding-left: 0;
    }
        
    header nav ul li:nth-child(3) {
        border-left: none;
        padding-left: 0;
    }
        
    header nav ul li:nth-child(4) {
        border-left: none;
        padding-left: 0;
    }
    
    .drawer {
        position: absolute;
        width: 30vh;
        height: 40vh;
        background-color: var(--btn);
        padding: 50px 30px 50px 30px;
        right: -100%;
        top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        transition: .5s linear;
        border-bottom-left-radius: 15px;
        z-index: 1;
    }
        
    #check:checked ~ .drawer {
        right: 0;
    }

    #check:checked ~ label i {
        display: none;
        position: relative;
    }

    #check:checked ~ label .x {
        display: inline-block;
        color: var(--btn);
        font-size: 40px;
        position: absolute;
        right: 28px;
        top: 25px;
    }

    header nav label {
        display: inline-block;
        padding: 6px 15px;
        border-radius: 3px;
    }
    
    /* menu end */
    
    header nav label i {
        font-size: 30px;
    }

    header {
        background-color: var(--light-grey);
    }
    
    header nav {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items:center;
        padding: 14px 20px 0;
    }
    
    header nav ul li {
        list-style-type: none;
        font-size: .8em;
    }
    
    header nav ul li a {
        color: white;
        padding-left: 3px;
    }

    main .hero .hero-pic {
        max-width: 300px;
        height: 300px;
    }

    main .hero .hero-pic::before {
        max-width: 90px;
        height: 90px;
    } 
    
    main .hero .hero-pic::after {
        max-width:60px;
        height: 60px;
    } 
        
    .fa-chevron-right, .fa-chevron-left {
        font-size: 40px;
        padding: 0 20px;
    }

    main .menu .menu-container .menu-default {
        padding: 0;
    }
   
    main .menu .menu-container  .menu-default  .menu-card img {
        width: 215px;
        height: 200px;
    }

    main .gallery .pics {
        display:none;
        min-width: 300px;
        flex-direction: column;
    }

    main .gallery {
        padding-bottom: 0;
    }

    main .gallery .pics {
        height: 300px;
        display: grid;
        grid-template-columns: 150px;
        grid-template-rows: 150px 150px;
        grid-template-areas: " img2 img2"
        "img5 img4 img6";
    }

    html, body {
        overflow-x: hidden;
    }
}
    

@media (max-width:375px){

    .about .about-container .about-text p {
        font-size: 1.2em;
    }

    .about .about-container .about-text i {
        font-size: 30px;
    } 

    .about .about-container .about-pic img {
        max-width: 300px;
        height: 300px;
    }
}