main {
    margin-bottom: 100px;
}

main .menu {
    margin: 70px 0;
}

.title-purple {
    background-color: var(--purple);
}

main .menu .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .menu .menu-container .menu-default {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    max-width: 900px;
    width: 100%;
    margin: 80px 0 0;
}

.cardOff {
    display: none !important;
}

main .menu .menu-container  .menu-default  .menu-card {
    position: relative;
}

main .menu .menu-container  .menu-default  .menu-card span {
    position: relative;
    display: block;
}

main .menu .menu-container  .menu-default  .menu-card span::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 8.48271px;
    background: transparent;
    transition: all 1s;
}

main .menu .menu-container  .menu-default  .menu-card span:hover::before {
    background: rgba(216, 155, 226, 0.6);
}

main .menu .menu-container  .menu-default  .menu-card span::after {
    opacity: 0;
}

main .menu .menu-container  .menu-default  .menu-card span:hover::after {
    content: "  ";
    position: absolute;
    text-align: center;
    max-width: 129.05px;
    width: 100%;
    border: 1.85677px solid #FFFFFF;
    box-sizing: border-box;
    color: white;
    top: 90px;
    left: 40px;
    font-family: Mali;
    font-style: normal;
    font-weight: 600;
    font-size: 18.5677px;
    line-height: 26px;
    z-index: 1;
    opacity: 1;
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(1) span:hover::after {
    content: " Biscoito R$2,50 ";
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(2) span:hover::after {
    content: " Bolo simples R$10,50 ";
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(3) span:hover::after {
    content: " Picolé recheado R$2,50 ";
    top: 70px;
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(4) span:hover::after {
    content: " Rosquinha R$5,50 ";
}

main .menu .menu-container .menu-default  .menu-card:nth-child(5) span:hover::after {
    content: " Trufas Gourmet R$6,50 ";
    top: 70px;
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(6) span:hover::after {
    content: " Cone trufado R$7,50 ";
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(7) span:hover::after {
    content: " Bolo de pote R$2,50 ";
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(8) span:hover::after {
    content: " Cupcake R$10,50 ";
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(9) span:hover::after {
    content: " Fatia hungaras R$2,50 ";
    top: 70px;
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(10) span:hover::after {
    content: " Pão de mel R$5,50 ";
}

main .menu .menu-container .menu-default  .menu-card:nth-child(11) span:hover::after {
    content: " Pavê gourmet R$6,50 ";
    top: 70px;
}

main .menu .menu-container  .menu-default  .menu-card:nth-child(12) span:hover::after {
    content: " Pudim gourmet R$7,50 ";
}

main .menu .menu-container  .menu-default  .menu-card img {
    max-width: 214.46px;
    width: 100%;
    height: 209.82px;
    filter: drop-shadow(0px 3.39308px 3.39308px rgba(0, 0, 0, 0.25));
    border-radius: 8.48271px;
    display: block;
    position: relative;
    z-index: 0;
}

main .menu .menu-container  .menu-default  .menu-card .btn-details {
    background-color: var(--btn);
    max-width: 170px;
    width: 100%;
    display: inline-block;
    margin: 10px auto;
    text-decoration: none;
    transition: .4s all;
    color: white;
    font-weight: 500;
    font-family: Montserrat;
    border-radius: 4px;
    padding: .8em 1em;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.btn-details summary {
    margin-left: 20px;
}

details[open] summary ~ * {
    animation: sweep .5s linear;
}
  
  @keyframes sweep {
    0%    {opacity: 0; height: 0;}
    100%  {opacity: 1; height: 100px;}
  }

main .menu .menu-container  .menu-default  .menu-card .btn-details ul {
    display: none;
    margin-left: 20px;
}

main .menu .menu-container  .menu-default  .menu-card .btn-details[open] ul {
    max-width: 100px;
    display: inline-block;
}

main .menu .menu-container  .menu-default  .menu-card .btn-details[open] ul li {
    padding-top: 8px;
    line-height: 1.3;
}

main .menu .menu-container  .menu-default  .menu-card a:hover {
    filter: drop-shadow(1px 1px 3px rgb(155, 4, 49));
}

main .menu .menu-container  .menu-default  .menu-card i {
    position: absolute;
    bottom: -50px;
    right: 2px;
    font-size: 30px;
    cursor:grab;
}

.fa-chevron-right, .fa-chevron-left {
    font-size: 35px;
    padding: 0 30px;
    cursor: pointer;
}
