:root {
    --pink: #F4C3EF;
    --blue: #83E0F0;
    --yellow: #FDF764;
    --purple: #D89BE2;
    --light-grey:#EBEDFC;
    --medium-grey:#C7C7C7;
    --dark-grey:#979797;
    --btn: #CD3452;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: .4s all;
}

input {
     outline: 0;
     border: 0;
     caret-color: var(--btn);
}

fieldset {
    border: none;
}

/* icon heart */
.fas , .fa-heart , .heart {
    color: #CD3452;
}

.titles {
    max-width: 461px;
    width: 100%;
    padding: .5em;
    border-top-right-radius: 9.52479px;
    border-bottom-right-radius: 9.52479px;
    text-align: center;
    font-family: Mali;
    font-weight: 500;
    font-size: 2em;
    line-height: 59px;
}

body {
    overflow-x: hidden;
    height: 300vh;
    background: linear-gradient(var(--light-grey),var(--light-grey),var(--light-grey),var(--light-grey), var( --pink), var( --pink),var(--light-grey),var(--light-grey), var(--blue),var(--light-grey),var(--light-grey)) ;
}
